@using TaawonMVC.Web.Models.Common.Modals
@model TaawonMVC.Web.Models.Applications.ApplicationsViewModel

@{
    Layout = null;
    SetAntiForgeryCookie();
}
@*<script src="~/Views/Applications/Index.js"></script>*@

@Html.AntiForgeryToken()

<table id="myTable" class="table">
    <thead>
    <tr>
        <th>@L("ApplicationId")</th>
        <th>@L("fullName")</th>
        <th>@L("phoneNumber1")</th>
        <th>@L("previousRestorationSource")</th>
        <th>@L("interestedRepairingEntityName")</th>
        <th>@L("housingSince")</th>
        <th>@L("Actions")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var Application in Model.Applications)
    {
        <tr>
            <td>@Application.Id</td>
            <td>@Application.fullName</td>
            <td>@Application.phoneNumber1</td>
            <td>@Application.previousRestorationSource</td>
            <td>@Application.interestedRepairingEntityName</td>
            <td>@Application.housingSince</td>
            <td class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="@Url.Action("DisplayApplicationView", "Applications", new { @applicationId = Application.Id})" class="waves-effect waves-block"><i class="material-icons">pageview</i>View</a></li>
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>
<button id="btnSelected" type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#applicationConvertModal">
    <i class="material-icons">forward</i>
</button>
<script>
    $("#myTable tr").click(function () {
        // var x = document.getElementsByTagName("tr")[0].getAttribute("class");

        var y = $(this).hasClass("selected");
        if (y == true) {
            $(this).removeClass("selected");
        }
        else {
            $(this).addClass('selected');
        }


        // var value = $(this).find('td:first').html();
        //alert(value);


    });

    $('#btnSelected').on('click', function (e) {
        var selectedIDs = [];
        $("#myTable tr.selected").each(function (index, row) {
            selectedIDs.push($(row).find("td:first").html());

        });
        var headers = {};
        headers['selectedIDs'] = selectedIDs;
        var link = '@Url.Action("ConvertApplication", "Applications")';
        $.ajax({
            url: link,
            type: 'POST',
            headers: headers,
            contentType: 'application/html',
            success: function (content) {
                $('#applicationConvertModal div.modal-content').html(content);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });

    });
</script>
