@using TaawonMVC.Web.Models.Common.Modals
@model TaawonMVC.Web.Models.Applications.ApplicationsViewModel

@{
    Layout = null;
    SetAntiForgeryCookie();
}
<script src="~/Views/Applications/Index.js"></script>

@Html.AntiForgeryToken()

<table class="table">
    <thead>
    <tr>
        <th>@L("fullName")</th>
        <th>@L("phoneNumber1")</th>
        <th>@L("previousRestorationSource")</th>
        <th>@L("interestedRepairingEntityName")</th>
        <th>@L("housingSince")</th>
        <th>@L("Actions")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var Application in Model.Applications)
    {
        <tr>
            <td>@Application.fullName</td>
            <td>@Application.phoneNumber1</td>
            <td>@Application.previousRestorationSource</td>
            <td>@Application.interestedRepairingEntityName</td>
            <td>@Application.housingSince</td>
            <td class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#" class="waves-effect waves-block upload-application-file" data-application-id="@Application.Id" data-toggle="modal" data-target="#FileUploadModal"><i class="material-icons">file_upload</i>@L("UploadFile")</a></li>
                    <li><a href="@Url.Action("EditApplication", "Applications", new { @appId = Application.Id})" class="waves-effect waves-block"><i class="material-icons">edit</i>@L("Edit")</a></li>
                    <li><a href="#" class="waves-effect waves-block reject-Application" data-application-id="@Application.Id" data-application-name="@Application.fullName"><i class="material-icons">stop</i>@L("Reject")</a></li>
                    <li><a href="#" class="waves-effect waves-block approve-Application" data-application-id="@Application.Id" data-application-name="@Application.fullName"><i class="material-icons">play_arrow</i>@L("Approve")</a></li>
                    <li><a href="#" class="waves-effect waves-block delete-application" data-application-id="@Application.Id" data-application-name="@Application.fullName"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>
<button onclick="location.href = '@Url.Action("ApplicationForm", "Applications")'" type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#propertyOwnershipCreateModal">
    <i class="material-icons">add</i>
</button>

